.review-form-group {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fcfbfb51;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s ease;
    margin-bottom: 20px;
}

.review-form-group:hover {
    background-color:#e0f2ff;
}
.review-radio{
    margin-right: 10px;
}
