/* Admin_ReviewName.css */
.review-name-page {
    font-family: 'Arial', sans-serif;
    /* 전체 폰트 설정 */
}

.review-name-header {
    background-color: #f8f9fa;
    /* 헤더 배경색 */
    padding: 1rem 0;
    /* 상하 패딩 */
    border-bottom: 1px solid #ccc;
    /* 하단 경계선 */

}
.review-content{
    position : relative;
    padding-left:200px;
    padding-right:200px;
    padding-top:80px;
}

.close-button {
    border: none;
    color: #333;
    /* 아이콘 색상 */
    margin-right: 20px;
    /* 오른쪽 여백 */
    cursor: pointer;
    font-size: 22px;
    /* 아이콘 크기 */
    margin-left:20px;
}

.close-button {
    background-color: #ccc;
    border-radius: 50%;
    width: 40px;
    /* 버튼 너비 */
    height: 40px;
    /* 버튼 높이 */
}
.review-title {
    margin-top: 8px;
    flex-grow: 1;
    /* 제목이 남은 공간을 차지하도록 설정 */
    font-size: 23px;
    /* 폰트 크기 */
    color: black;
    /* 폰트 색상 */
}

.btn-primary {
    background-color: #007bff;
    /* '저장 후 다음' 버튼 색상 */
    border-color: #007bff;
}


.form-control {
    font-size: 1.1rem;
    /* 입력 필드의 폰트 크기 */
    /* 입력 필드의 내부 패딩 */
}


.container {
    max-width : 1500px;
    margin-left: 0px;
    padding-left: 5px;
    margin-right:0px;
}

.review-sidebar {
    height: 100vh;
    font-family: Arial, sans-serif;
    /* 글꼴 설정 */
}


.review-name-header{
    padding-right : 10px;
}
